body {
    background-color: #dcdcdc;
}

.page {
    margin: 0 auto;
    width: 1000px;
    background-color: azure;
    padding: 10px 20px;
    border: 1px solid silver;
}

.comment {
    border: 1px solid silver;
    padding: 10px 40px;
    margin: 15px;
    background-color: #ffffff
}

.succes {
    color: green;
}

.erreur {
    color: red;
}